<body class="text-center">
    <main class="form-signin">
        <form [formGroup]="loginForm">
            <img class="mb-4" src="../../assets/images/logo.png" alt="" width="175" height="175">
            <h1 class="h3 mb-3 fw-normal">Giriş Yap</h1>

            <div class="form-floating">
                <!-- <label for="floatingInput">Email address</label> -->
                <input formControlName="username" type="email" class="form-control" id="floatingInput" placeholder="mail@dvudomain.com">
            </div>
            <br>
            <div  class="form-floating">
                <!-- <label for="floatingPassword">Password</label> -->
                <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Şifre">
            </div>
 
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me "> Beni hatırla
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" (click)="login()" >Giriş Yap</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2021 DVU</p>
        </form>
    </main>



</body>