<body class="mt-5 text-center d-flex justify-content-center">
    <form [formGroup]="resetPasswordForm">

        <div class="form-group row">
            <label for="text1" class="col-4 col-form-label">Eposta</label>
            <div class="col-8">
                <input formControlName="email" type="email" class="form-control"
                    class="form-control" required="required">
            </div>
        </div>
    
    <p *ngIf="message=='Şifreler uyuşmuyor.'" class="alert alert-warning">{{message}}</p>

        <div class="form-group row">
            <div class="offset-4 col-8">
                <button (click)="setPassword()" class="btn btn-primary">Şifremi Oluştur</button>
            </div>
        </div>
    </form>
    <img class="rounded float-left" src="/assets/images/logo.png" width="150" height="150" alt="katana">

</body>