<div class="mt-5 text-center d-flex justify-content-center">
    <img class="text-center rounded" src="/assets/images/logo.png" width="250" height="250" alt="katana">
    <h2 class="text-center h2"></h2>
</div>

<body style="
padding: 55px;
background: transparent;
margin-top: -4.7rem!important;
" class="mt-5 text-center d-flex justify-content-center">
    <form [formGroup]="resetPasswordForm">
        <div class="form-group row">
            <label>
                <label class="col-12 "><b>Şifre sıfırlama</b></label><br>
                <label for="text1" class="col-12">Eposta</label>
                <input formControlName="email" type="email" class="form-control" class="form-control"
                    required="required">
                <button style="margin: 5px;" (click)="setPassword()" class="btn btn-primary">E-posta gönder</button>

            </label>
        </div>
        <p *ngIf="message=='Şifreler uyuşmuyor.'" class="alert alert-warning">{{message}}</p>
        <div class="form-group row">
            <div class="offset-4 col-8">
            </div>
        </div>
    </form>

</body>