<nav class="navbar navbar-expand-md navbar-dark"
[ngClass]="(isLoggedIn||gmisLoggedIn)?'bg-dark':''">

  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li  *ngIf="isLoggedIn" class="nav-item">
        <a class="nav-link active" routerLink="/all-reports">Tüm Raporlar</a>
      </li>
      <li  *ngIf="gmisLoggedIn" class="nav-item">
        <a class="nav-link active" routerLink="/gmadmin">Tüm Raporlar</a>
      </li>

      <li *ngIf="isLoggedIn" class="nav-item">
        <button (click)="openPopupWithAddReport()" class="btn btn-outline-light">Haftalık Raporumu Ekle</button>
      </li>

      <li *ngIf="gmisLoggedIn" class="nav-item pl-1">
        <button routerLink="/add-worker" type="button" class="btn btn-outline-light">Yeni Çalışan Ekle</button>
      </li>

    </ul>
  </div>
  <div class="mx-auto order-0">
    <a *ngIf="isLoggedIn" class="navbar-brand mx-auto" [routerLink]="['/all-reports']" routerLinkActive="router-link-active">
      <img src="/assets/images/mini-logo.png">
    </a>
    <a *ngIf="gmisLoggedIn" class="navbar-brand mx-auto" [routerLink]="['/gmadmin']" routerLinkActive="router-link-active">
      <img src="/assets/images/mini-logo.png">
    </a>

  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li *ngIf="!logged" class="nav-item">
        <a class="nav-link active" routerLink="/login">Giriş Yap</a>
      </li>
      <li *ngIf="logged" class="nav-item">
        <button class="btn nav-link active" (click)="logout()">Çıkış Yap</button>
      </li>
    </ul>
  </div>
</nav>