<body class="mt-5 text-center d-flex justify-content-center">

    <form [formGroup]="setPasswordForm">
        <div class="form-group row">
            <label for="text1" class="col-4 col-form-label">Şifre</label>
            <div class="col-8">
                <input formControlName="password" type="password" class="form-control"
                    class="form-control" required="required">
            </div>
        </div>
        <div class="form-group row">
            <label for="text" class="col-4 col-form-label">Şifre Tekrar</label>
            <div class="col-8">
                <input formControlName="repassword" type="password" class="form-control"
                    class="form-control" required="required">
            </div>
        </div>
    <p *ngIf="message=='Şifreler uyuşmuyor.'" class="alert alert-warning">{{message}}</p>

        <div class="form-group row">
            <div class="offset-4 col-8">
                <button (click)="setPassword()" class="btn btn-primary">Şifremi Oluştur</button>
            </div>
        </div>

    </form>

</body>