

<body class="mt-5 text-center d-flex justify-content-center">
    <main class="form-signin col-md-6">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <form [formGroup]="addWorkerForm">
            <div class="form-group row">
                <label for="text" class="col-4 col-form-label">Çalışan Ad</label>
                <div class="col-8">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-address-card"></i>
                            </div>
                        </div>
                        <input formControlName="worker_name" id="text" name="text" type="text" class="form-control" required="required">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="text" class="col-4 col-form-label">Çalışan Soyad</label>
                <div class="col-8">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-address-card"></i>
                            </div>
                        </div>
                        <input formControlName="worker_surname" id="text" name="text" type="text" class="form-control" required="required">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="text2" class="col-4 col-form-label">Çalışan Email</label>
                <div class="col-8">
                    <input formControlName="worker_email" id="text2" name="text2" placeholder="john@dvu.com.tr" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="text2" class="col-4 col-form-label">Çalışan Ünvanı</label>
                <div class="col-8">
                    <input formControlName="job_title" id="text2" name="text2" placeholder="" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="text2" class="col-4 col-form-label">Çalışan Kullanıcı Adı</label>
                <div class="col-8">
                    <input formControlName="username" id="text2" name="text2" placeholder="" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-4 col-8">
                    <button name="submit" (click)="addNewWorker()"  class="btn btn-primary">Yeni Çalşan Ekle</button>
                </div>
            </div>
        </form>
      
    </main>



</body>


<!-- <form [formGroup]="loginForm">
    <img class="mb-4" src="../../assets/images/logo.png" alt="" width="175" height="175">
    <br>
    <p class="rounded-right p-1 bg-light text-left d-inline">Çalışan</p>
    <h1 class="h3 mb-3 fw-normal">Giriş Yap</h1>

    <div class="form-floating">
        <input formControlName="username" type="email" class="form-control" id="floatingInput"
            placeholder="mail@dvudomain.com">
    </div>
    <br>
    <div class="form-floating">
        <input formControlName="password" type="password" class="form-control" id="floatingPassword"
            placeholder="Şifre">
    </div>

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me "> Beni hatırla
        </label>
    </div>
    <a routerLink="/gmlogin" class="float-right"> yönetici girişi</a>
    <button class="w-100 btn btn-lg btn-primary" (click)="login()">Giriş Yap</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2021 DVU</p>
</form> -->