<body class="text-center d-flex justify-content-center">
    <main class="form-signin col-md-4">
        <form [formGroup]="gmloginForm">
            <img class="mb-4" src="../../assets/images/logo.png" alt="" width="175" height="175">
            <br>
            <p class="rounded-right p-1 bg-light text-left d-inline">Yönetici</p>
            <h1 class="h3 mb-3 fw-normal">Giriş Yap</h1>

            <div class="form-floating">
                <!-- <label for="floatingInput">Email address</label> -->
                <input formControlName="username" type="email" class="form-control" id="floatingInput" placeholder="mail@dvudomain.com">
            </div>
            <br>
            <div  class="form-floating">
                <!-- <label for="floatingPassword">Password</label> -->
                <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Şifre">
            </div>
 
            <div class="checkbox mb-3">
     
            </div>
            <div class="row">
                <a routerLink="/reset-password" class="offset-4 d-flex justify-content-center"> şifremi unuttum</a>
            </div>
            <div class="row">
                <a routerLink="/login" class="offset-4 d-flex justify-content-center"> kullanıcı girişi</a>
            </div>
            <button class="w-100 btn btn-lg btn-primary" (click)="gmlogin()" >Giriş Yap</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2021 DVU</p>
        </form>
    </main>



</body>