<body class="text-center">
    <main class="form-signin">
        <form [formGroup]="gmloginForm">
            <img class="mb-4" src="../../assets/images/logo.png" alt="" width="175" height="175">
            <br>
            <p class="rounded-right p-1 text-left d-inline" style="background-color: antiquewhite;">Yönetici Girişi</p>
            <h1 class="h3 mb-3 fw-normal">Giriş Yap</h1>

            <div class="form-floating">
                <!-- <label for="floatingInput">Email address</label> -->
                <input formControlName="username" type="email" class="form-control" id="floatingInput"
                    placeholder="mail@dvudomain.com">
            </div>
            <br>
            <div class="form-floating">
                <!-- <label for="floatingPassword">Password</label> -->
                <input formControlName="password" type="password" class="form-control" id="floatingPassword"
                    placeholder="Şifre">
            </div>

            <div class="bottom">
                <div class="">
                    <a routerLink="/reset-password" class="float-right bg-light"> şifremi unuttum</a>
                    <button class="w-35 btn btn btn-primary float-left p-2" (click)="gmlogin()">Giriş Yap</button>
                </div>
                <br>
                <div class="">
                    <a routerLink="/login" class="float-right ">kullanıcı girişi</a>

                </div>
            </div>
            <br>
            <p class="mt-5 mb-3 text-muted">&copy; 2021 DVU</p>
        </form>
    </main>



</body>