th{
    font-size: 0.90rem;
}

td{
    font-size: 0.90rem;
}
h6{ 
    font-size: 20px;
}
h5{ 
    font-size: 20px;
}

#codeButton{
    font-size: 10px;
}

mat-icon{
    font-size: 15px;
    
}

span{
    font-size: 13px;
}